<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>wavME</title>
</head>

<body>
    <nav class="navbar" id="nav">
        <a class="logo">wavME</a>
        <a href="/"><img id="nav_img" src="/assets/images/logocolor.png" width="133" height="150"></a>
        <ul class="nav inline my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="/all" target="_blank" rel="noopener" rel="noreferrer">All-Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login.html" target="_blank" rel="noopener" rel="noreferrer">Log In</a>
            </li>
        </ul>
        </div>
    </nav>

    {{{ body }}}
</body>

</html>