<div id="allUsers_container">
    {{#each user}}
    <div class="user_container">
        <h2>User info:</h2>
        <p class="pop"><span class="yellow">Username:</span> {{username}}</p>
        <p class="pop"><span class="yellow">Location:</span> {{location}}</p>
        <img class="user_photo" src="{{photo}}">
        <h2>Favorite Artists:</h2>
        <ul class="artists_table">
            {{#each artists}}
            <li class="artists">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>