<div id="allUsers_container">
    {{#each user}}
    <div class="allusers_info">
        <h2>User info:</h2>
        <p class="users_p"><span class="username_loc">Username:</span> {{username}}</p>
        <p class="users_p"><span class="username_loc">Location:</span> {{location}}</p>
        <img class="user_photo" src="{{photo}}">
        <h2>Favorite Artists:</h2>
        <ul class="artists_table">
            {{#each artists}}
            <li class="artists">
                {{name}}
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>