<div id="allUsers_container">
    {{#each user}}
    <div class="user_container">
        <hr>
        <h2>User info:</h2>
        <p><span>Username:</span> {{username}}</p>
        <p><span>Location:</span> {{location}}</p>
        <img class="user_photo" src="{{photo}}">
        <h2>Favorite Artists:</h2>
        <ul class="artists_table">
            {{#each artists}}
            <li class="artists">
                {{name}}
            </li>
            {{/each}}
        </ul>
        <hr>
    </div>
    {{/each}}
</div>