<div id="user_container">
  <h2>User info:</h2>
  {{#each user}}
  <p><span>Username:</span> {{username}}</p>
  <p><span>Location:</span> {{location}}</p>
  <img class="user_photo" src="{{photo}}">
  <h2>Favorite Artists:</h2>
  <ul id="artists_table">
    {{#each artists}}
    <li class="artists_table">
      {{name}}
    </li>
    {{/each}}
  </ul>
  {{/each}}
</div>

<div class="form_group">
  <h2>Create an account!</h2>
  <form class="create_user">
    <input class="user_input" type="text" id="user_name" name="name" placeholder="name" /><br>
    <input class="user_input" type="text" id="user_email" name="email" placeholder="e-mail!" /><br>
    <input class="user_input" type="text" id="user_password" name="password" placeholder="password!" /><br>
    <input class="user_input" type="text" id="user_photo" name="photo" placeholder="photo!" /><br>
    <input class="user_input" type="text" id="user_location" name="location" placeholder="location" /><br>
    <input class="user_input" type="text" id="user_artists" name="artists" placeholder="bands name" /><br>
    <button type="submit" id="add_user">SUBNMIT!</button>
    <form>
</div>
</form>
</div>