<div id="form_user_container">
  <div id="create">
    <form id="create_user">
      <h2 id="create_acc">Create an account!</h2>
      <input class="user_input" type="text" id="user_name" name="name" placeholder="name/last_fm nickname" required /><br>
      <input class="user_input" type="text" id="user_email" name="email" placeholder="e-mail" required /><br>
      <input class="user_input" type="text" id="user_password" name="password" placeholder="password" required /><br>
      <input class="user_input" type="text" id="user_photo" name="photo" placeholder="photo" /><br>
      <input class="user_input" type="text" id="user_location" name="location" placeholder="location" /><br>
      <input class="user_input" type="text" id="user_artists" name="artists" placeholder="bands name" required /><br>
      <button type="submit" id="add_user">SUBMIT!</button></br>
      <h3>or use</h3>
      <button type="submit" id="submit_spotify" <i class="fa fa-spotify" style="color: green"></i> <span
          id="spot">SPOTIFY<span></button>
    </form>
  </div>
  <div>
    <div id="login">
      <form id="login_form">
        <input class="user_input" type="text" id="existuser_email" name="email" placeholder="e-mail" required /><br>
        <input class="user_input" type="text" id="existuser_password" name="password" placeholder="password" required /><br>
        <button type="submit" id="log_in">LOG IN!</button>
      </form>
    </div>
  </div>
</div>

<div id="user_page">
  <div id="curuser_container"></div>
  <script id="template-hbs" type="text/x-handlebars-template">
  <div id="usersmatch_container">
    [{#each user}]
    <div class="usermatch_info">
        <h2>Matching user:</h2>
        <p class="users_p"><span class="username_loc">Username:</span> [{username}]</p>
        <p class="users_p"><span class="username_loc">Location:</span> [{location}]</p>
        <img class="user_photo" src="[{photo}]">
        <div class="chat_button_container">
          <button class="chat_button"><a class="chat_link" href="/chat">CHAT</a></button>
        </div>
        <h2>Favorite Artists:</h2>
        <ul class="artists_table">
            [{#each artists}]
            <li class="artists" data-name="[{name}]">
                [{name}]
            </li>
            [{/each}]
        </ul>
    </div>
    [{/each}]
</div>
</div>
</script>

  <div id="matching_container"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDBqUeh_kPKd1jeOLW8McgTVPN9CjIBfgU"></script>
  <script src="/assets/js/users.js"></script>