<div id="form_user_container">
  <div id="form_container">
    <h2>Create an account!</h2>
    <form class="create_user">
      <input class="user_input" type="text" id="user_name" name="name" placeholder="name" /><br>
      <input class="user_input" type="text" id="user_email" name="email" placeholder="e-mail" /><br>
      <input class="user_input" type="text" id="user_password" name="password" placeholder="password" /><br>
      <input class="user_input" type="text" id="user_photo" name="photo" placeholder="photo" /><br>
      <input class="user_input" type="text" id="user_location" name="location" placeholder="location" /><br>
      <input class="user_input" type="text" id="user_artists" name="artists" placeholder="bands name" /><br>
      <button type="submit" id="add_user">SUBNMIT!</button>
    </form>
  </div>
</div>

<p><a href="/all">All Users List</a></p>