body {
  background-color: #f2f3f3;
}

.user_container {
  background-color: lightgrey;
  padding: 1em 1.5em;
  margin: 1em;
}

input {
  margin: 0.3em 0;
  width: 30%;
}

#add_user {
  padding: 0.6em 2em;
  border-radius: 8px;
  margin: 1em 0;
  border: none;
}

#add_user:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.user_photo {
  width: 30%;
}

span {
  color: royalblue;
  font-weight: 600;
}

#form_container {
  background-color: lightgray;;
  padding: 1em 1.5em;
  margin: 1em;
  text-align: center;
}